@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* START RESET */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* END RESET */

.background {
    display: flex;
}

.bg {
    height: 500px;
    margin: auto;
}

.first-section {
    background-color: black;
    height: 600px;
    display: flex;
    justify-content: center;
}

.first-row {
    width: 80vw;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: auto 70%;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

h1 {
   
    color: white;
    font-size: 4rem;
    font-family: Poppins, sans-serif;
    margin: 0px;
}

.first-p {
    color: white;
    text-align: center;
    padding: 0 20%;
    font-family: Poppins;
}

.first-button {
    padding: 20px 40px;
    border-radius: 30px;
    color: white;
    background: linear-gradient(to right, #FF6400,#DA0000);
    border: none;
    font-family: Poppins;
}

.second-section {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}

.card {
    padding: 4rem 2rem;
    margin: 2rem;
    background-color: #16163C;
    border-radius: 25px;
    max-width: 25%;
    font-family: Poppins;
}

.second-card {
    background: linear-gradient(to right, #FF6400, #DA0000);
}

.third-section {
    background-color: #191C26;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-us-columns{
    max-width: 30%;
}
