@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* START RESET */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* END RESET */

.background {
    display: flex;
}

.bg {
    height: 500px;
    margin: auto;
}

.first-section {
    background-color: black;
    height: 600px;
    display: flex;
    justify-content: center;
}

.first-row {
    width: 80vw;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: auto 70%;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

h1 {
   
    color: white;
    font-size: 4rem;
    font-family: Poppins, sans-serif;
    margin: 0px;
}

.first-p {
    color: white;
    text-align: center;
    padding: 0 20%;
    font-family: Poppins;
}

.first-button {
    padding: 20px 40px;
    border-radius: 30px;
    color: white;
    background: linear-gradient(to right, #FF6400,#DA0000);
    border: none;
    font-family: Poppins;
}

.second-button {
    padding: 15px 30px;
    border-radius: 30px;
    color: white;
    background: linear-gradient(to right, #FF6400,#DA0000);
    border: none;
    font-family: Poppins;
}

.button {
    padding: 15px 30px;
    border-radius: 30px;
    color: white;
    background: linear-gradient(to right, #FF6400,#DA0000);
    border: none;
    font-family: Poppins;
}

.second-section {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}

.card {
    padding: 4rem 2rem;
    margin: 2rem;
    background-color: #16163C;
    border-radius: 25px;
    max-width: 25%;
    font-family: Poppins;
}

.second-card {
    background: linear-gradient(to right, #FF6400, #DA0000);
}

.third-section {
    background-color: #191C26;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fourth-section {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.first-column-fourth-section, .second-column-fourth-section {
    width: 50%;
    height: 200px;
    border: 5px solid yellow;
    display: flex;
    flex-direction: column;
    
}

.third-column-fourth-section {
    width: 100%;
    border: 5px solid yellow;
    display:flex;
    justify-content: center;
}


.about-us-columns{
    max-width: 30%;
}

.service-card {
    border: 2px solid red;
    background-color: #16163C;
    width: 20%;
    height: 200px;
    margin: 10px;
}

.portfolio {
    border: 4px solid green;
    display: flex;
    justify-content: center;
}

.portfolio-column {
    border: 4px solid brown;
    
    width: 40%;
}

.portfolio-column-1 {
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.portfolio-column-2 {
    padding: 2%;
}

.portfolio-img {
    width: 30%;
    display: inline-block;
    padding: 1%;
    
}

.portfolio-img img {
    width: 100%;
    border-radius: 10%;
}

.testimonial {
    border: 4px solid orange;
    display: flex;
    justify-content: center;
   flex-wrap: wrap;
}

.testimonial div {
    border: 4px solid rgb(19, 15, 235);
    height: 300px;
    
}

.testimonial-column-1 {
    width: 100%;
}

.testimonial-column-2, .testimonial-column-3 {
        width: 40%;
}

.contact-us {
    border: 4px solid rgb(21, 255, 127);
    width:100%;
    margin: 0 auto;
}

.contactUs-column {
    border: 4px solid rgb(247, 21, 255);
    margin: 0 auto;
    width: 70%;
    text-align: center;
}



.second-column-fourth-section {
    justify-content: center;
    align-items: center;
}

textarea {
    width: 100%;
}

input {
    width: 30%;
}

/* form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */

